@page "{userId}"
@model WebSite.Areas.Admin.Pages.Account.ChangePasswordModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "تغییر کلمه عبور ";
}

@section styles
{
    <link href="~/Admin/assets/css/users/account-setting.css" rel="stylesheet" />
    <link href="~/Admin/plugins/dropify/dropify.min.css" rel="stylesheet" />
    <link href="~/Admin/assets/css/elements/alert.css" rel="stylesheet" />
}

<div class="layout-px-spacing">
    <div class="account-settings-container layout-top-spacing">

        <div class="account-content">
            <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll" data-offset="-100">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                        <form id="general-info" class="section general-info" asp-page="./ChangePassword" method="post" >
                            <input type="hidden" asp-for="userDTo.UserId" />
                            <div class="info">
                                <h6 class="">@ViewData["Title"]</h6>
                                <div class="row">
                                    <div class="col-lg-11 mx-auto">
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 mt-md-0 mt-4">
                                                <div>
                                                    <div class="row">
                                                        <div class="col-sm-6 ">
                                                            <div class="form-group">
                                                                <input type="text" asp-for="userDTo.Password" class="form-control mb-4" placeholder="کلمه عبور ">
                                                                <span asp-validation-for="userDTo.Password" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 position-relative">
                                                            <div class="form-group">
                                                                <button class="btn btn-warning mt-3 position-absolute" style="top:-13px" type="submit">تغییر کلمه عبور</button>
                                                            </div>
                                                        </div>
                                                    </div>
          
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>