@page "{userId}"
@model WebSite.Areas.User.Pages.Panel.ChangePasswordModel

@{
    Layout = "_MainLayout";
    ViewData["Title"] = "تغییر کلمه عبور";
}
@section styles
{

}

<div class="e-breadcumb-wrap text-center">
    <h2 class="e-breadcumb-title">حساب کاربری</h2>
    <ul class="e-breadcumb-kist">
        <li>
            <a href="/">خانه </a>
        </li>
        <li>
            <a href="javascript:void(0);">@ViewData["Title"]</a>
        </li>
    </ul>
</div>

<div class="e-profile-wrap e-profile-cloth">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form asp-page="./ChangePassword" enctype="multipart/form-data">
                    <input type="hidden" asp-for="UserPanel.UserId" />
                    <div class="e-profile-inner" style="padding:20px">
                        <div class="e-profile-box">
                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="e-form-field mb-26">
                                        <label> کلمه عبور فعلی</label>
                                        <input class="e-field-inner  require" asp-for="UserPanel.OldPassword" type="text">
                                        <span class="text-danger" asp-validation-for="UserPanel.OldPassword"></span>
                                    </div>
                                </div>
                                <div class="col-md-12 ">
                                    <div class="e-form-field mb-26">
                                        <label> کلمه عبور جدید</label>
                                        <input class="e-field-inner  require" asp-for="UserPanel.NewPassword" type="text">
                                        <span class="text-danger" asp-validation-for="UserPanel.NewPassword"></span>
                                    </div>
                                </div>
                                <div class="col-md-12 ">
                                    <div class="e-form-field mb-26">
                                        <label> تکرار کلمه عبور جدید</label>
                                        <input class="e-field-inner  require" asp-for="UserPanel.ReNewPassword" type="text">
                                        <span class="text-danger" asp-validation-for="UserPanel.ReNewPassword"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <button type="submit" class="e-btn">تغییر</button>
                                    <div class="">
                                    </div>
                                </div> 
                                <div class="col-md-6">
                                    <button type="submit" class="e-btn">فراموشی کلمه عبور</button>
                                    <div class="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <partial name="_ValidationScriptsPartial" />

}